Flask
flask-cors
werkzeug
datetime
pymongo
python-dotenv
pandas
IPython
pydantic
langchain
langchain-google-vertexai
langchain-community
langchain-core
langchain-text-splitters
pinecone-client
pinecone
langgraph
