flask==3.0.0
Flask-Cors==5.0.0
google-api-core==2.24.1
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.79.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
gunicorn==23.0.0
html5lib==1.1
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
langchain==0.3.16
langchain-community==0.3.16
langchain-core==0.3.32
langchain-google-vertexai==2.0.12
langchain-openai==0.3.0
langgraph==0.2.69
langgraph-checkpoint==2.0.10
langgraph-sdk==0.1.51
pinecone==5.4.2
pinecone-plugin-inference==3.1.0
pinecone-plugin-interface==0.0.7
pinecone[grpc]
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pyHanko==0.25.3
pyhanko-certvalidator==0.26.5
pyls-spyder==0.4.0
pymongo==4.11
pypdf==5.2.0
PyQt5==5.15.10
requests-oauthlib==2.0.0

